@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body {
    background-color: #ECF0F2;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: white;
    

}

.nav-bar a{
    font-size: 15px;
    margin: 0px 10px;
}
.nav-bar a:hover{
    color: rgb(49, 71, 49);
    cursor: pointer;
}

.green-btn{
    color: white;
    background-color: #216F62;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 30px;
    border: none ;
    border-radius: 5px;
}
.green-btn:hover{
    background-color: rgb(49, 71, 49);
    cursor: pointer;
}

.green-dot-heading div{
    width: 10px;
    height: 10px;
    background-color: #216F62;
    border-radius: 50%;
    margin: 0px 5px;
    
}
.green-dot-heading {
    display: flex;
    align-items: center;
    
}
.main-h1{
    font-size: 5rem;
    font-weight: 700;
    font-family: "Playfair Display";
    line-height: 75px;
}

.main-h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
}

.main-h3{
    font-size:  1.5rem;
    font-weight: 700;
    font-family: "Playfair Display";
}

.footer{
    height: 80vh;
   
    display: flex;
    flex-flow: column;
    align-items: center;
  justify-content: center;
}

.footer p{
    font-size: medium;
    text-align: center;
}

.email-box{
    display: flex;
    align-items: center;
}

.email-box input{
    padding: 10px 3px;
    margin: 0px 5px;
    width: 50vh;
}

.contact-icon{
    display: flex;
    margin: 10px ;
}

.icon-div{
    margin: 10px;
}

.footer-end{
  
    display: flex;
    justify-content: space-between;
}
.footer-end a{
    margin: 20px 20px;

    
}




/* HOME PAGE CSS STARTS HERE

*/


.hero-home{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding:  100px 5%;
    align-items: center;
    background-color: white;
    
}


 

.hero-home h6,p{
    margin: 30px 0px ;
    font-size: 20px;
}

.hero-img{
    min-height: 250px;
    max-height: 550px;
   
}

.for-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    align-items: center;
}

.customer-testimonial {
    height: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: space-between;
    padding: 100px 5%;
}


.testimonial-1{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.testimonial-2{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}




.testimonial-3{

    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.courses{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.courses-1{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    align-items: center;
    padding: 5%;
}

.courses-1 h2{
    font-size: 2.1rem;
    margin-top: 5%;
    font-family: "Playfair Display";
    font-weight: 700;
}

.courses-1 p{
    font-size: medium;
}

.course-1-grid{
    
    background-color: red;
    display: flex;
   
    
    flex-flow: column;
   
}

.course-1-grid img{
    min-height: 100px;
    
   max-height: 180px;


    
}

.courses-2{
    display: flex;
    justify-content: center;
}

.features{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.benifits{
    display: flex;
    flex-flow: column;
}

.benifits h3,a{
    margin: 1%;
}


@media screen and (max-width:950px){
    .hero-home{
     display: flex;
     flex-direction: column;
    }
    .hero-img{
     margin-top: 50px;
    }
 
    .main-h1{
     font-size: 4rem;
    }
 
    .hero-home p{
     font-size: 19px;
    }

    .for-logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: white;
        align-items: center;
    }
     
 }
 
 @media screen and (max-width:700px){
   
     .hero-img{
      margin-top: 30px;
     }
  
     .main-h1{
      font-size: 3.5rem;
      line-height: 70px;
     }
      
     .hero-home p{
         font-size: 18px;
    }
    
    .main-h2{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Playfair Display";
    }

    .footer p{
        font-size: small;
        text-align: center;
    }
    .courses-1{

        display:grid;
        grid-template-columns: 1fr ;
        align-items: center;
        padding: 100px;
    }

        
  }
 
  @media screen and (max-width:550px){
   
     .hero-img{
         height: 350px;
     }
  
     .main-h1{
      font-size: 2.5rem;
      line-height: 50px;
     }
 
     .hero-home p{
         font-size: 16px;
        }

        .email-box{
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        .email-box input{
            margin-bottom: 10px;

        }
      

        .footer-end{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
  }